body {
    background-color: black;
    color: white
}

h3 {
    color: black;
}

input {
    background-color: white;
    color: black;
    padding: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

p {
    background-color: white;
    color: black;
}

button {
    background-color: green;
    color: white;
}

hr {
    border: 1px solid white;
    background-color: white;
}

label {
    background-color: white;
    color:black;
}

::placeholder {
    color: black;
}

.grid-x {
    padding-top: 10px;
    padding-bottom: 10px;
}

