body {
    background-color: black;
    color: white
}

input {
    background-color: white;
    color: black;
    padding: 10px;
}

p {
    background-color: white;
    color: black;
}

button {
    background-color: green;
    color: white;
}

hr {
    border: 1px solid white;
    background-color: white;
}

label {
    background-color: white;
    color:black;
}

::placeholder {
    color: black;
}

